<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Blog - Express</title>
  <!-- Latest compiled and minified CSS & JS -->
  <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/flatly/bootstrap.min.css" rel="stylesheet">
{{!--  <link rel="stylesheet" href="css/styles.css" media="screen" title="no title"> --}}
  <script src="https://code.jquery.com/jquery.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script src="/assets/js/associate.js"></script>
    <script src="/assets/js/resident.js"></script>
    <script src="/assets/js/login.js"></script>

</head>

<body>
    {{{body}}}
</body>
</html>    

{{!-- <!DOCTYPE html>
<html>
 
<head>
    <title></title>
</head>
 
<body>
    <form id="signup" name="signup" method="post" action="/signup">
        <label for="email">Email Address</label>
        <input class="text" name="email" type="email" />
        <label for="firstname">Firstname</label>
        <input name="firstname" type="text" />
        <label for="lastname">Lastname</label>
        <input name="lastname" type="text" />
        <label for="password">Password</label>
        <input name="password" type="password" />
        <input class="btn" type="submit" value="Sign Up" />
    </form>
 
</body>
 
</html> --}}



{{!-- <!DOCTYPE html>
<html lang="en">
	<head>
		<title>Package-Alert!</title>
		<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
		<script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
		<script src="/assets/js/associate.js"></script>
		<script src="/assets/js/resident.js"></script>
		<link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/flatly/bootstrap.min.css" rel="stylesheet">
  		<link rel="stylesheet" href="css/styles.css" media="screen" title="no title">
  		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	</head>
	<body>
		<div class="container">
		    <div class="jumbotron">
		      <h1 class='text-center'>Welcome to Package Alert!</h1>
		    </div>
		{{{ body }}}
		</div>
	</body>
</html> --}}