<div class = 'container'>
	<div class="row">
		<h1 class="text-center"> Packages for Residents </h1>
	</div>

<ol>

		{{#each packages}}
		

		<thead>
			<tr>
				{{this.id}}
				<th>{{this.packageName}}</th>
				<th>{{this.status}}</th>
			</tr>
		</thead>




	
		{{/each}}
	</ol>
	

</div>