

<div>{{db}}</div>
<ul>

{{!--   {{#each dbPackage}} --}}
    {{!-- {{#if status}} --}}
      {{> associates/associates-block   status=true}}
    {{!-- {{/if}} --}}
{{!--   {{/each}} --}}
</ul>

<ol>
  {{!-- {{#each dbPackage }} --}}
    {{!-- {{#unless status}} --}}
      {{> residents/residents-block status=false}}
    {{!-- {{/unless}} --}}
  {{!-- {{/each}} --}}
</ol>

